name: CI
on:
  push: 
    branches:
      - main

  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  build_test_job:
    name: 'Build and test job'
    runs-on: ${{ matrix.os }}
    strategy:
        fail-fast: false
        matrix:
          os: [windows-latest, ubuntu-latest, macos-latest]        
    steps:

    - name: 'Checking out repo code'
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - name: 'Setup Node.js'
      uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
      with:
        node-version: '20'

    - name: 'Validate build'
      run: |
        npm ci
        npm run build

    - name: 'Run L0 tests'
      run: |
        npm run test

    # validate if the dist folder has no changes that are not commited
    - name: Check for uncommitted changes
      # do not run on Windows runnrs because it always has issues, perhaps line endings or something?
      if: runner.os != 'Windows'
      shell: pwsh
      run: |
        if ((git status --porcelain dist).Length -ne 0) {
          Write-Output "dist folder has changes that are not committed:"
          git status --porcelain dist
          exit 1
        }
        else {
          Write-Output "dist folder has no changes"
        }
