name: CI
on:
  push: 
    branches:
      - main

  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  build_test_job:
    name: 'Build and test job'
    runs-on: ${{ matrix.os }}
    strategy:
        fail-fast: false
        matrix:
          os: [windows-latest, ubuntu-latest, macos-latest]        
    steps:

    - name: 'Checking out repo code'
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

    - name: 'Setup Node.js'
      uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
      with:
        node-version: '20'

    - name: 'Validate build'
      run: |
        npm ci
        npm run build

    - name: 'Run L0 tests'
      run: |
        npm run test

    # validate if the dist folder has no changes that are not commited
    - name: Check for uncommitted changes
      # do not run on Windows runnrs because it always has issues, perhaps line endings or something?
      if: runner.os != 'Windows'
      shell: pwsh
      run: |
        if ((git status --porcelain dist).Length -ne 0) {
          Write-Output "dist folder has changes that are not committed:"
          git status --porcelain dist
          exit 1
        }
        else {
          Write-Output "dist folder has no changes"
        }
